#indicators {
    position: absolute;
    top: 0em;
    width: 100%;
    z-index: 2;
    text-align: center;
}
#indicators table{
    margin: 0 auto;
    max-width: 100%;
    font-size: 1vw;
}

#indicators table td, #indicators table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0em 0.4em;
}

.as-btn{
    cursor: pointer;
}

input {
    width: 2em;
}


@media (max-width: 450px) {
    #indicators {
      display: none;
    }
  }