.wire {
    width: 100%;
    height: .4em;
    border-bottom: 1px solid green;
    /* -webkit-transform: translateY(20px) translateX(5px) rotate(-26deg); */
    position: absolute;
    top: 19%;
    /* left: -13px;*/
}